# Dependencies
**/node_modules/

# Next.js build output (VERY IMPORTANT)
**/.next/

# Environment variables
**/.env
**/.env.local
**/.env.production

# Logs
**/*.log
**/logs/

# Build output
**/dist/
**/build/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/